.products{
    background-color: white;
    padding: 40px 0;
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    background-color: #fff;
    width: 250px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.row{
    position: relative;
    transition: all .40s;
}
.row img{
    width: 30%;
    height: auto;
    transition: all .40s;
}
.row img:hover{
    transform: scale(0.9);
}
.product-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color:red ;
    padding: 3px 10px;
    border-radius: 2px;
}
.heart-icon{
    font-size: 20px;
}
.heart-icon:hover{
    color: red;
}
.ratting i{
    color: rgb(9, 62, 9);
    font-size: 18px;
} 
.price h4{
    color: black;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}  
.price p{
    color: black;
    font-size: 14px;
    font-weight: 600;
}
